@font-face {
    font-family: machina;
    src: url("./assets/fonts/NeueMachina-Regular.otf");
}
*{
    font-family: 'machina';
}
html,body,#root {
    height: 100%;
    width: 100%;
    
}
body{
    cursor: url(./assets/cursor/cursor.png),auto;
    overflow-x: hidden;
   
}
/* button:hover{
    cursor: url(./assets/cursor/pointer.png), pointer;
    
} */